<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image-alt}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>

                    <br>
                    
                    <p>
                    Check out our class member blogs and our GitHub organization
                    </p>

                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/authors"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Class Member Blogs</a>
                            </a>
                        </div>
                        <div>
                            <a href="https://github.com/stat386-fall2022"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">GitHub</a>
                            </a>
                        </div>
                    </div>
                    <!--
                    <a href="https://unsplash.com/photos/vb-3qEe3rg8">Photo</a>
                    by <a href="https://unsplash.com/@davidclode?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">David Clode</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                    -->
                </div>
            </div>
        </div>
</section>
