
<!-- Look the author details up from the site config. -->
{% assign author = site.data.authors %} 

<div class="columns has-text-centered" id="blog-card">
    <div class="column is-marginless is-paddingless is-one-third-desktop is-one-third-fullhd is-one-third-tablet">
        <div class="image is-16by9" style="background-image: url({{author.imgs}});"></div>
    </div>
    <a href="{{author.blog | absolute_url}}" target="_blank" rel="noopener noreferrer">
        <div class="column has-text-left-desktop has-text-left-tablet">
            <h1 class="title is-size-4-touch">{{author.titles}}</h1>
            <div class="content has-text-grey">
                <p> <span class="has-text-weight-semibold"> By {{author.label}} </span> </p>
                <hr class="has-background-grey">
                <p> {{ author.desc }} </p>
            </div>
        </div>
    </a>
</div>
